/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bebas Neue", sans-serif;
  background-color: #f8f8f8;
  overflow-x: hidden;
}
#home{
  padding: 0;
}
header {
  background-color: #090a09;
  color: #fff;
  padding: 4px;
}

.header-container {display: flex;align-items: center;}
.logo{
  width: 100%;
}
.logo img {
  height: 70px;
  border-radius: 50%;
}

nav {
  display: none;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
  justify-content: center;
}

nav ul li {
  display: inline-block;
  margin-right: 40px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}
.number{
font-size: 1.3rem;
}
.thumbnail-container {
  position: relative;
  background-image: url('./src/daw_thumbnail.jpeg');
  height: 400px;
}

.thumbnail-container {
    display: flex;
    align-items: center;
}

.thumbnail-container img {width: 100%;}

.thumbnail-caption-container {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4.5rem;
  padding-left: 10px;
  color: #090a09;
}

.thumbnail-caption {
  position: relative;
}

.navbar {
  text-decoration: none;
  display: flex;
}

.carousel-section {
  background-color: #fff;
  padding: 50px 20px;
}

.carousel-section h2 {
  color: #333;
  margin-bottom: 20px;
}

section {padding: 10px;}
section h1 {
  font-size: 1.5rem;
  padding: 10px 0;
  padding-left: 10px;
  background: yellow;
}

.course-title {
  text-align: center;
  font-size: 2.5rem;
}

.course {
  padding: 20px 23px;
  margin-bottom: 20px;
  background: #02c7b6;
}

.course-contents img {
  width: 100%;
}

.course-details {text-align: center;/* margin: auto; */background: #aaa731;width: 100%;padding: 10px 10px;}

.course-details h1 {
  font-size: 2rem;
}

.course-details h2 {
    line-height: 1.5;
    font-size: 1.25rem;
}

.course-details a {
  font-size: 1.4rem;
  background: white;
  padding: 0px 5px;
  border: 1px solid black;
}

.carousel-container {
  position: relative;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
}

.carousel-slide img {
  width: 100%;
  transition: transform 0.5s ease;
}

.client-section {
  background-color: #f7f7f7;
  padding: 50px 0;
}

.client-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}

.client {
  width: 50%;
  padding: 10px;
  border: 1px solid #ddd;
  max-width: 300px;
}

.client img {
  width: 100%;
}

.contact-section {
  background-color: #333;
  color: #fff;
  padding: 50px 20px;
}

.contact-container p {
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1;
}

#client {
  padding: 50px 0;
}

#client{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 400px;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ddd;
}


.team-member {
  margin-bottom: 15px;
}
.team-member img{
  width: 100%;
}
.team-member-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.team-member-details h1{font-size: 2rem;}
.team-member-details p{background: #02c7b6;font-size: 1.25rem;color: white;padding: 10px;}
.video-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-container iframe {margin-bottom: 12px;width: auto;}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.contact-container{
  padding: 10px;
}
@media (min-width:900px) {
  .logo{
    width: auto;
  }
  .header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav{
    display: flex;
    margin-right: 10px;
  }
  .number{
    display: none;
  }
  .course-contents{display: flex;justify-content: space-between;}
  .course-contents img{
    width: 50vw;
}
.team-member{display: flex;/* padding: 0 20px; */}
.team-member img{
  width: 50vw;
}
}